@model Assignment_Data.Custom_Model.LibraryCm;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" id="ListContainerId">

    <partial name="_LibraryTable" />

</div>

<div id="showModalContainer"></div>
