<footer class="footer d-flex bg-secondary container-fluid position-fixed  bottom-0 align-items-center justify-content-end z-3 border-top footer text-muted">
    <div class="d-none d-sm-flex justify-content-end align-items-center bg-secondary w-100" style="height: 50px;">
        <div class="m-3">
            <a href="#" class="text-white">Terms of Conditions</a>
        </div>
        <span class="text-white m-3">|</span>
        <div class="m-3 me-5">
            <a href="#" class="text-white">Privacy Policy</a>
        </div>
    </div>
</footer>

