@{
    ViewData["Title"] = "Denied Access";
}

<style>
    .access_container {
        height: 70vh !important;
    }
</style>

<div class="container h-100 d-flex flex-column justify-content-center align-items-center access_container">
    <img src="~/images/wrong-password.png" style="height: 100px" />
    <h1 class="display-4 text-danger mb-3">Access Denined</h1>
    <h4 class="text-muted">You have not access to this section</h4>
    <h6 class="text-muted">Please Contact Admin...</h6>
</div>